
.titulo{
  font-size: 60px;
  width: 500px;
  margin-top: 0px; 
  @media (max-width: 550px) {
    width: 400px;
  }
}
.caja{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.caja2{
  color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid rgb(255, 59, 59);
  border-radius: 5px;
  margin-bottom: 60px;
  height: 180px;
  width: 500px;
  @media (max-width: 550px) {
    width: 390px;
  }
}
.caja2 h3{
  font-size: 26px;
}
.caja2 p{
  font-size: 24px;
}
.info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.titulo span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(80, 0, 0);
}

.marquee{
  width: 100%;
  height: 90px;
  background-color: red;
  color: aliceblue;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.marquee-content{
  display:flex;
  animation: scrolling 10s linear infinite;
}
@keyframes scrolling{
  0% { transform: translateX(0)}
  100% { transform: translateX(-50%)}
}
.marquee-item{
flex-shrink: 0;
text-decoration: none;
}
li{
  list-style: none;
  margin-left: 20px;
}

.boton:hover{
  background-color: red;
  color: white;
  transition: 0.2s;
}
.footer{
  background-color: black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 9 0px;
  color: white;
}
a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: red;
  font-size: 30px;
  border: 5px solid red;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 50px;
  font-family: 'Lilita One', cursive;
  height: 60px;
  width: 500px;
  @media (max-width: 550px) {
    width: 390px;
  }
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: red;
  font-size: 30px;
  border: 5px solid red;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 50px;
  font-family: 'Lilita One', cursive;
  height: 60px;
  width: 500px;
  margin-top: 30px;
  @media (max-width: 550px) {
    width: 390px;
  }
}
button:hover{
  background-color: red;
  color: white;
  transition: 0.2s;
}
.opcion{
display: flex;
flex-direction: row;
}
.opciones{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  border: 5px solid rgb(255, 0, 0);
  height: 190px;
  width:490px;
  color: red;
  @media (max-width: 550px) {
    width: 380px;
  }
}
input{
  width: 30px;
  accent-color: red;
  background-color: aliceblue;
}
.titulo2{
  font-size: 50px;
}
.pixel {
  width: 1.5rem;
  height: 1.5rem;
}
.pixel:hover {
  cursor: pointer;
}
.row {
  display: flex;
  width: fit-content;
}